.root {
    -fx-background-radius: 0;
}

.button {
    -fx-border-color: #bdc3c7;
    -fx-background-color: #ecf0f1;
}

.button:hover {
    -fx-background-color: #e4e8e9;
}

.button:pressed {
    -fx-background-color: #ecf0f1;
}

.titled-pane > .title {
    -fx-background-color: #e4e8e9;
    -fx-border-color: #bdc3c7;
}

.text-field {
    -fx-background-radius: 0;
}

.tab-pane .tab {
    -fx-shape: "M 0 0 l1 1 l-1 1 h10 l1 -1 l-1 -1 z";
    -fx-padding: 5px 10px 5px 15px;
    -fx-background-color: #e4e8e9;
}

.tab-pane .start {
    -fx-shape: "M 0 0 v2 h10 l1 -1 l-1 -1 z";
    -fx-padding: 5px 10px 5px 10px;
}
.tab-pane .end {
    -fx-shape: "M 0 0 l1 1 l-1 1 h10 v-2 z";
    -fx-padding: 5px 10px 5px 15px;
}

.tab-pane .tab:selected {
    -fx-background-color: #ecf0f1;
    -fx-border-color: #bdc3c7;
}
.tab-pane .tab:focused .tab-container {
    -fx-border-color: #bdc3c7;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.check-box > *.box {
    -fx-background-color: #fff;
    -fx-border-color: #bdc3c7;
    -fx-background-radius: 0;
}