.root {
    -fx-background-radius: 0;
}

.button {
    -fx-border-color: #bdc3c7;
    -fx-background-color: #ecf0f1;
}

.button:hover {
    -fx-background-color: #e4e8e9;
}

.button:pressed {
    -fx-background-color: #ecf0f1;
}

.titled-pane > .title {
    -fx-background-color: #e4e8e9;
    -fx-border-color: #bdc3c7;
}

.text-field {
    -fx-background-radius: 0;
}

.check-box > *.box {
    -fx-background-color: #fff;
    -fx-border-color: #bdc3c7;
    -fx-background-radius: 0;
}